<div class="image-context-body">
    <!-- Video background context-->
    <div class="fullscreen-video-wrap">
        <video autoplay="true" muted="true" loop="true" id="video-background">
            <source src="../../assets/stock-videos/background-animation.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Video Overlay colouring -->
    <div class="video-overlay"></div>

    <!-- Video Overlay Content -->
    <div class="video-overlay-content">
        <h2 class="text-common"> Shane Creedon </h2>
        <h6 class="text-common"> Software Engineer </h6>
        <p class="text-hobbies"> Music | Programming | Gaming </p>
    </div>

    <div class="gaming-controller-icon">
        <img height="128" src="../../assets/images/controller.png" alt="Gaming Controller icon, looks good and holds meaning to me"/>
    </div>

</div>