<div class="image-context-body">
    <!-- Video background context-->
    <div class="fullscreen-video-wrap" [innerHTML]="videoTag"></div>

    <!-- Video Overlay colouring -->
    <div class="video-overlay"></div>

    <!-- Video Overlay Content -->
    <div class="video-overlay-content">
        <h2 class="text-common"> Shane Creedon </h2>
        <h6 class="text-common"> Software Engineer </h6>
        <p class="text-hobbies"> Music | Programming | Gaming </p>
    </div>

    <div class="shane-profile-icon">
        <img height="200" src="../../../assets/images/pictureOfMe.png" alt="Gaming Controller icon, looks good and holds meaning to me"/>
    </div>

</div>
