.image-context-body {
    position: relative;
    line-height: 1.5;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    height: 45em;
    padding-bottom: 1em;
}

.fullscreen-video-wrap {
    position: absolute;
    height: 45em;

    left: 0;
    bottom: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 45em;
    background-color: #225470;
    z-index: 1;
    opacity: 0.85;
    top:0;
    left:0;
}

.video-overlay-content {
    text-align: center;
    position: absolute;
    white-space: nowrap;

    width: 100%;
    height: 100%;

    z-index: 1;
    font-size: 4em;
    font-family: Monaco, "Lucida Console", monospace;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
}

.text-hobbies {
    font-size: 0.3em;
    line-height: 5em;
}

.shane-profile-icon {
    z-index: 5;
    text-align: center;
    margin: 0 auto;
    padding-top: 25em;
    opacity: 0.7;
}

.shane-profile-icon img {
    border-radius: 50%
}