# Dependencies
node_modules/

# Next.js
/.next/
/out/

# Testing
/coverage/

# IDEs
/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Debug
npm-debug.log*

# TypeScript
next-env.d.ts
