.buttons{
	display: none;
}
.mobile-menu {
	display:block;
	font-size:250%;
	font-family: 'Athiti', sans-serif;
	color:black;
	margin:0% auto;
	position: relative;
	text-align: center;
	background-color: white;
	z-index: 2;
}
.nav_wrapper .mobile-menu a {
	text-decoration: none;
	color:black;

}
.content-container {
	height:30em;
}
.nav_wrapper {
	position: static;	
}
.mobile-menu a:hover{
	color:#99bbff;
}
.nav_wrapper {
	box-shadow: 0em 0.05em 0.2em black;
}
.my-name span{
	font-size:260%;
}