.about-introduction-section {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    background-color: whitesmoke;
    position: relative;
    padding-top:1em;
    text-align:center
}

.about-images {
    float: left;
    margin-right: 5em;
    vertical-align: middle;
    border-radius: 50%;
}

.about-sub-section {
    width: 85em;
    padding: 3em;
    text-align: left;
}

.about-sub-title {
    text-align: center;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    font-family: PoiretOne-Regular, "Microsoft JhengHei Light", Arial;
}

.about-sub-section-paragraphs {
    height: 10em;
    display: table-cell;
    vertical-align: middle;
}