.about-me-section {
    background-color: whitesmoke;
    width: 100%;
    height: 20em;

    text-align: center;
    position: relative;
    padding-top:1em;

    font-size: 2em;
    font-weight: bold;
    font-family: PoiretOne-Regular, "Microsoft JhengHei Light", Arial;
}