<div class="project-listing-wrapper">
    <span class="sub-title"> Check out my projects </span>
    <div class="github-projects">
        <div class="card github-project" ng-cloak ng-hide="i > totalProjectsShown"
             *ngFor="let repo of repositories | slice:0:totalProjectsShown; let i = index" [attr.data-index]="i">
            <div class="project-wrapper">
                <div class="card-body">
                    <h5 class="card-title">{{adjustRepoName(repo.name)}}</h5>
                    <div class="card-languages-{{i}}" *ngFor="let languages of projectNameToLanguageListMap.get(repo.name)">
                        <div class="card-sub-languages-{{i}}" *ngFor="let language of [languages]">
                            <span class="card-language-{{language}}-{{i}}">
                                {{ getLanguage(language, i) }}
                            </span>
                        </div>
                    </div>
                    <p class="card-text">{{repo.description}}</p>
                </div>
            </div>
            <div class="card-body-button">
                <a href="{{repo['html_url']}}" class="btn btn-primary">Visit Project Repository</a>
            </div>
        </div>
    </div>
    <div class="view-more-projects-btn">
        <a mat-raised-button (click)="showMoreOrLessProjects()">{{buttonText}}</a>
    </div>
</div>