#links-wrapper {
    padding-top: 3em;
    text-align: center;

    background-color: whitesmoke;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;

}

.sub-title {
    font-size: 1.5em;
    font-family: "Lato", Calibri, Arial, serif;
    font-weight: bold;
}

.links-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    overflow-x: hidden;
    padding: 3% 1% 5% 1%;
}

a {
    margin: 0 5%;
}

.link {
    width: 10em;
    height: 10em;

    margin: 0 auto;

    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.gmail {
    background: url("/assets/links-images/github.jpg") no-repeat center center;
    background-size: contain;
    border-radius: 10%;
}

.twitter {
    background: url("/assets/links-images/linkedin.png") no-repeat center center;
    background-size: contain;
    border-radius: 10%;
}

.steam {
    background: url("/assets/links-images/youtube.png") no-repeat center center;
    background-size: contain;
    border-radius: 10%;
}

.gmail:hover, .steam:hover, .twitter:hover {
    border-radius: 20%;
}

.github-projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 3em;
    justify-content: center;
    padding: 3em;
}

.github-project {
    margin: 0 auto;
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
    padding: 1em;
}

.project-link > a {
    text-decoration: none;
}

.card-img-top {
    border-radius: 5%;
}

/* When the screen is less than 775 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {

    .links-container {
        display: block;
        flex-wrap: nowrap;
    }

    a{
        margin-top: 2em;
    }
}