<div id="links-wrapper">
    <span class="sub-title"> Social Media Links </span>
    <div class="links-container">
        <a href="https://github.com/Ticketedmoon">
            <div class="link gmail"></div>
        </a>
        <a href="https://www.linkedin.com/in/shane-creedon-49a142128/">
            <div class="link twitter"></div>
        </a>
        <a href="https://www.youtube.com/channel/UCP2hCkdDohDOsrHyeDGV5Xw">
            <div class="link steam"></div>
        </a>
    </div>
</div>
