<div class="links-wrapper">
    <span class="sub-title"> Check out my projects </span>
    <div class="links-container">
        <a href="https://github.com/ShaneCreedon">
            <div class="link github"></div>
        </a>
        <a href="https://www.linkedin.com/in/shane-creedon-49a142128/">
            <div class="link linkedin"></div>
        </a>
        <a href="https://www.youtube.com/channel/UCP2hCkdDohDOsrHyeDGV5Xw">
            <div class="link youtube"></div>
        </a>
    </div>
</div>