<div class="about-me-wrapper">
    <h4 style="text-align: center"> About me </h4>
    <div class="rowA-image-description content-row">
        <div class="row-image content-imageA"></div>
        <div class="row-description">
            <p><b> My Story </b></p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam beatae ducimus eveniet illum inventore
            laboriosam placeat praesentium quos repellendus voluptate.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad dolorem, hic illum laboriosam libero minus porro quo repudiandae vel voluptatum?
        </div>
    </div>
    <div class="rowB-image-description content-row">
        <div class="row-image content-imageB"></div>
        <div class="row-description">
            <p><b> My Hobbies and Interests </b></p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam beatae ducimus eveniet illum inventore
            laboriosam placeat praesentium quos repellendus voluptate.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad dolorem, hic illum laboriosam libero minus porro quo repudiandae vel voluptatum?
        </div>
    </div>
    <div class="rowC-image-description content-row">
        <div class="row-image content-imageC"></div>
        <div class="row-description">
            <p><b> My aspirations and Life Goals </b></p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam beatae ducimus eveniet illum inventore
            laboriosam placeat praesentium quos repellendus voluptate.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad dolorem, hic illum laboriosam libero minus porro quo repudiandae vel voluptatum?
        </div>
    </div>
</div>