<div id="about-me-wrapper">
    <span class="header-field-special"> About me </span>

    <div class="rowA-image-description content-row">
        <div class="row-image content-imageA"></div>
        <div class="row-description">
            <p class="header-field"> My Story </p>
            Hi, I'm Shane, a 23 year old software engineer from Dublin, Ireland.
            I Studied <b>B.Sc in Computer Applications and Software engineering (DC121)</b> in DCU (Dublin City University) and
            currently work at <a href="https://brightflag.com/">Brightflag</a>.

            I've always had an interest in technology. Questions about how technology worked, why it worked, and how it
            has changed the world certainly had peaked my curiosity. As a result of this interest, I started programming in small
            doses and began to involve myself in the software community in general. School never gave me the knowledge
            to understand how technology in general worked so I decided to pursue this interest and enroll in a software degree.
            Four years later, I've graduated with a first-class honors degree and still have an incredible passion for
            software development.
        </div>
    </div>

    <div class="rowB-image-description content-row">
        <div class="row-image content-imageB"></div>
        <div class="row-description">
            <p class="header-field"> My Hobbies and Interests </p>
            Like most children growing up during the 1990s and early 2000s, video games were a big part of my life. 
            Upon playing my very first game, I felt an immediate attachment and love for it. Gaming was the primary reason
            why I had a curiosity about Computer Science. Similarly, music has also been a passion of mine.
            I play guitar on a regular basis, mostly riffs and pieces from rock / metal songs that I enjoy.
            Being creative with programming and working on side-projects is certainly a passion. I also love contributing
            to Open Source in my spare time.
        </div>
    </div>

    <div class="rowC-image-description content-row">
        <div class="row-image content-imageC"></div>
        <div class="row-description">
            <p class="header-field"> My Aspirations and Career Goals </p>
            I want to grow in all aspects of the software engineering field. Whether that be improving my own engineering
            ability or simply improving my soft skills. I want to be the best I can at my job and meet great people
            along the way. I also want to work for a company that which I care about the work they do and strive to pursue
            each and every day. Alternatively, setting up my own business is another ambition I hope to realise one day,
            but until that day, Let's see where the wind takes me.
        </div>
    </div>

</div>
