<div id="about-me-wrapper">
    <span class="header-field-special"> About me </span>

    <div class="rowA-image-description content-row">
        <div class="row-image content-imageA"></div>
        <div class="row-description">
            <p class="header-field"> My Story </p>
            Hi, I'm Shane. I'm 21 years of age and I love technology. <br/>
            I Studied B.Sc in Computer Applications and Software engineering (DC121) in DCU (Dublin City University).<br/> <br/>
            Growing up, I was always fascinated by technology - how it worked, why it worked, the whole sense of mystery around the future.<br/>
            School never gave me the knowledge to understand how our modern day technology worked so I decided
            to enroll in a software degree.
        </div>
    </div>

    <div class="rowB-image-description content-row">
        <div class="row-image content-imageB"></div>
        <div class="row-description">
            <p class="header-field"> My Hobbies and Interests </p>
            Like most children growing up around the 1990s and early 2000s, video games have been a big part of my life. <br/>
            Upon playing my very first game which was on the N64 at the time, I felt an immediate attachment and love for it. <br/>
            Gaming is most-likely one of the major reasons why I got into Computer Science. <br/><br/>
            Similarly, music has also been a passion of mine. I've been playing guitar now for a little over 2 years & I have truly loved every second. <br/>
            I mostly play riffs from rock / metal songs that I enjoy and I love coordinated jam sessions with friends. <br/><br/>
            Being creative with programming is another hobby of mine which I enjoy. I love tinkering with any new and upcoming technology. <br/>
            Additionally, Building side projects and preparing myself for the industry has become a large part of my spare time.
        </div>
    </div>

    <div class="rowC-image-description content-row">
        <div class="row-image content-imageC"></div>
        <div class="row-description">
            <p class="header-field"> My Aspirations and Life Goals </p>
            I want to grow my Software Engineering skills to a great height and create something that will help <br/>
            people in our world, no matter how trivial that vision is or will be. <br/><br/>
            I want to be able to support my family thoroughly and always be someone they can fall back on, given any financial situation. <br/>
            To be able to work with great people throughout my life and learn everything I can about technology would be a dream I hope to realise. <br/>
        </div>
    </div>

</div>