/* Wrapper*/
#about-me-wrapper {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: whitesmoke;
    text-align: center;

    -moz-box-shadow: 0 0 50px #fff;
    -webkit-box-shadow: 0 0 50px #fff;
    box-shadow: 0 0 50px #fff;
}

/* Sub-titles on each section
 * Purely for text modification */
.header-field {
    font-size: 1.4em;
    font-family: 'Walter Turncoat', cursive;
}

.header-field-special {
    font-size: 2em;
    font-family: 'Dekko', cursive;
}

/* Div wraps the 2 sub-divs of row-image and row-description*/
.content-row {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    width: 80%;
    line-height: 1.5em;
}

.row-image {
    display: inline-block;
    vertical-align: middle; /* or top or bottom */

    width: 10rem;
    height: 10rem;

    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.row-description {
    display: inline-block;
    vertical-align: middle; /* or top or bottom */
    font-family: "Lato", Calibri, Arial, Serif, serif;
    max-width: 75%;
    text-align: left;
    padding: 2em 2em 4em 3em;
    font-size: 0.85em;
}

/* Specific image and row targeting */
.content-imageA {
    background: url("src/assets/general-images/andorra-me.jpg") no-repeat center center;
    background-size: contain;
}
.content-imageB {
    background: url("src/assets/general-images/hobby-gaming-controller-icon.png") no-repeat center center;
    background-size: contain;
}
.content-imageC {
    background: url("src/assets/general-images/software-team.png") no-repeat center center;
    background-size: contain;
}

/* When screen is less than X pixels*/
@media screen and (max-width: 1250px) {
    .row-image {
        width: 12em;
        height: 12em;
    }

    .row-description {
        width: 60%;
        padding: 2em 0 2em 2em;
    }

    .content-row {
        padding: 2em 0 2em 0;
    }
}

/* When the screen is less than 400 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .row-image {
        display: block;
        margin: 0 auto;
        padding: 1em;
        width: 12em;
        height: 12em;
    }

    .row-description {
        min-width: 90%;
        padding: 2em 0;
    }

    .content-row {
        width: 100%;
        padding: 2em 0 2em 0;
    }
}
