<div class="technologies-wrapper">
    <span class="sub-title"> My Favourite Languages, Libraries and Frameworks </span>
    <div class="grid-container">
        <div class="grid-item grid-item-A"></div>
        <div class="grid-item grid-item-B"></div>
        <div class="grid-item grid-item-C"></div>
        <div class="grid-item grid-item-D"></div>
        <div class="grid-item grid-item-E"></div>
        <div class="grid-item grid-item-F"></div>
        <div class="grid-item grid-item-G"></div>
        <div class="grid-item grid-item-H"></div>
        <div class="grid-item grid-item-I"></div>
    </div>
</div>
