<div class="about-me-wrapper">
    <span class="header-field-special"> My Work Experience </span>

    <div class="rowA-image-description content-row">
	<div class="work-item-wrapper">
            <div class="row-image content-imageA"></div>
            <div class="row-description">
                <p class="header-field"> Shutterstock (Current)</p> <br/>
                <b> Software Engineer (Search) </b> <br/>
                Current employed as a Software Engineer (Search) at Shutterstock (<a href="https://www.shuttestock.com/">https://www.shutterstock.com/</a>)
		<br><br>
		Added features and improvements to the search service (Java/SpringBoot), enabling 
		faster searching in our index (Apache Solr), more segmentation of content for different use
		cases, and refactoring of the way in which content is boosted, reducing development time. <br>

		Built a parity compliance job that can be executed to verify that the content in our index is 
		valid and up-to-date within a specified time period, cross-referencing many other internal APIs.<br>

		Built new ways of searching for content in our Editorial Search Index (Elastic Search). <br>

		Utilised Terraform to integrate Datadog with our Elastic Search Index to provide monitoring 
		and alerting of core metrics across all instance replicas. <br>

		Added automation improvements within the Jenkins pipeline to reduce development time, and reduce 
		the need for manual developer intervention – reducing the possibility for human error.
		Executed and managed A/B testing within the Search Platform to hone ranking parameter 
		values and improve Key Performance Indicators (KPIs). <br>
            </div>
        </div>

        <div class="work-item-wrapper">
            <div class="row-image content-imageB"></div>
            <div class="row-description">
                <p class="header-field"> Brightflag (2 Years, 6 Months) </p> <br/>
                <b> Software Engineer (Product/Tooling) </b> <br/>
                Full-Stack Software Engineer at Brightflag (<a href="https://www.brightflag.com/">https://www.brightflag.com/</a>)
                <br><br>
                I worked at Brightflag for 2 years, 6 months and have grown a lot in terms of my software ability and understanding
                of how teams interact within an organisation, as well as ways to optimize those interactions.

                In terms of technical knowledge, my ability with Spring/SpringBoot, Java, and SQL have improved immensely and I have learned many new skills like:
                React, and a proper grounding with the Model-View-Controller (MVC) design pattern. Unit testing and Integration testing
                were an utmost focus, to which we always aimed for above 80% test coverage with all of our Pull Requests to reduce the likelihood
                of introducing new defects into the system. We used SonarCloud for this purpose, which also enabled cleaner code by detecting
                code smells. Jenkins with CI/CD pipelines and environmental deployments were also a focus to which we had to of course,
                prioritise work around.

                <br><br>
                I've worked on many different things at my time here, but too many to go into detail about in this summary paragraph,
                so I will just leave a set of areas to which I've now worked in and understand to some level of thoroughness: <br>
		• Data migration Tooling (MVC) <br>
		• Building/Maintaining public APIs (MVC) <br>
		• Subject Matter Expert (SME) for SAML (Single Sign On) and SCIM for user provisioning APIs <br>
		• Further Internal tooling within the organisation to improve process and save time.(React) <br>
		• AWS and understanding of the various services (S3, CloudWatch, EC2, SQS, SNS) <br>

            </div>
        </div>
    </div>

    <div class="rowA-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageC"></div>
            <div class="row-description">
                <p class="header-field"> Bloomberg Polarlake (6 Months)</p> <br/>
                <b> Software Engineer Intern </b> <br/>
                Software Engineer Intern role at Bloomberg Polarlake (<a href="https://www.bloombergpolarlake.com/">https://www.bloombergpolarlake.com/</a>)
                <br><br>
                Worked as a member of the DevOps team where I learned countless new technologies and worked well with my team.
                Some of these technologies include <b>Spring, Angular6, Ext, Django, Ansible </b> etc...
                Worked on several microservice architectural backends where I implemented several features for future disaster recovery and Development Operations.
                Great internship experience and highly recommend this company to any future CS graduate.
            </div>
        </div>
    </div>

    <div class="rowB-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageD"></div>
            <div class="row-description">
                <p class="header-field"> Christopher's Furniture Services (3 Months) </p> <br/>
                <b> Furniture Movement Employee </b> <br/>
                General Laborer, Christopher’s Furniture.
                I Worked in <b>Team A</b> and gained great social & team-building skills. I was a Strong energizer of the
                group, kept my team focused, and consistently determined. Primary duties were carrying furniture up
                and down a skyscraper using team coordination. Additionally, unloading a large trailer each day
                which would be assembled the following morning.
            </div>
        </div>
    </div>

    <div class="rowC-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageE"></div>
            <div class="row-description">
                <p class="header-field"> Hemingway's Seafood Restaurant (2 Years) </p> <br/>
                <b> Waiter and Kitchen Porter </b> <br/>
                Worked with my Employer & Colleagues in a team environment to fulfill
                the desires of customers.
                Took customer orders, Served food, served customers needs & wants.
                Responsibility to maintain the restaurant in absence of the manager or supervisor.
                looked after the bills and wine selection for customers.
            </div>
        </div>
    </div>

    <div class="rowD-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageF"></div>
            <div class="row-description">
                <p class="header-field"> Spar Retail Store (1 Year) </p> <br/>
                <b> Spare Retail Store Clerk </b> <br/>
                  Helping customers throughout the store with their various needs and wants relating to shop items.
                  Responsibility to maintain the store & tills. Kept the store clean and stocked throughout a particular shift
                   and helped other staff when I had spare time.
                  Focus was customer satisfaction & team-interaction.
            </div>
        </div>
    </div>

</div>
