<div class="about-me-wrapper">
    <span class="header-field-special"> My Work Experience </span>
    <div class="rowA-image-description content-row">
        <div class="row-image content-imageA"></div>
        <div class="row-description">
            <p class="header-field"> Bloomberg Polarlake </p>
            <b> Software Engineer Internship </b><br/>
            Software Engineer Intern role at Bloomberg Polarlake (<a href="https://www.bloombergpolarlake.com/">https://www.bloombergpolarlake.com/</a>) <br/>
            ▪ Worked as a member of the DevOps team where I learned countless new technologies and worked well with my team. <br/>
            ▪ Some of these technologies include <b><i>Spring, Angular6, Ext, Django, Ansible </i></b> etc... <br/>
            ▪ Worked on several microservice architectural backends where I implemented several features for future disaster recovery and Development Operations. <br/>
            Great internship experience and highly recommend this company to any future CS graduate.
        </div>
    </div>
    <div class="rowB-image-description content-row">
        <div class="row-image content-imageB"></div>
        <div class="row-description">
            <p class="header-field"> Christopher's Furniture Services </p>
            <b> Furniture Movement Employee </b><br/>
            ▪ General Laborer, Christopher’s Furniture <br/>
            ▪ Worked in Team A & gained great social & team-building skills Strong energizer of the group, kept my group focused, and consistently determined.
        </div>
    </div>
    <div class="rowC-image-description content-row">
        <div class="row-image content-imageC"></div>
        <div class="row-description">
            <p class="header-field"> Hemingway's Seafood Restaurant </p>
            <b> Waitor and Kitchen Porter </b><br/>
            ▪ Worked with my Employer & Colleagues in a team environment to fulfill
            the wishes & desires of customers. <br/>
            ▪ Took customer orders, Served food, served customers needs & wants.
            Responsibility to maintain the restaurant in absence of the manager or supervisor. <br/>
            ▪ looked after the bills and wine selection for customers.
        </div>
    </div>
    <div class="rowD-image-description content-row">
        <div class="row-image content-imageD"></div>
        <div class="row-description">
            <p class="header-field"> Spar Retail Store </p>
            <b> Spare Retail Store Clerk </b><br/>
            ▪ Helping customers throughout the store with their various needs and wants relating to shop items. <br/>
            ▪ Responsibility to maintain the store & tills. Kept the store clean and stocked throughout a particular shift
               and helped other staff when I had spare time.  <br/>
            ▪ Focus was customer satisfaction & team-interaction <br/>
        </div>
    </div>
</div>