<div class="about-me-wrapper">
    <span class="header-field-special"> My Work Experience </span>

    <div class="rowA-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageA"></div>
            <div class="row-description">
                <p class="header-field"> Brightflag - (Current)</p> <br/>
                <b> Graduate Software Engineer </b> <br/>
                Graduate Software Engineer role at Brightflag (<a href="https://www.brightflag.com/">https://www.brightflag.com/</a>)
                This is my on-going day job currently. I have been an active employee here for over 6 months now and
                so far I have improved my knowledge of Java, Maven, Jenkins, and SQL and learned many new skills like:
                React, Model-View-Controller (MVC) design pattern and Deploying to different environments. Additionally,
                A stronger understanding of JIRA and communication and collaboration inside an organisation.
            </div>
        </div>
    </div>

    <div class="rowA-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageB"></div>
            <div class="row-description">
                <p class="header-field"> Bloomberg Polarlake - (6 Months)</p> <br/>
                <b> Software Engineer Intern </b> <br/>
                Software Engineer Intern role at Bloomberg Polarlake (<a href="https://www.bloombergpolarlake.com/">https://www.bloombergpolarlake.com/</a>)
                Worked as a member of the DevOps team where I learned countless new technologies and worked well with my team.
                Some of these technologies include <b>Spring, Angular6, Ext, Django, Ansible </b> etc...
                Worked on several microservice architectural backends where I implemented several features for future disaster recovery and Development Operations.
                Great internship experience and highly recommend this company to any future CS graduate.
            </div>
        </div>
    </div>

    <div class="rowB-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageC"></div>
            <div class="row-description">
                <p class="header-field"> Christopher's Furniture Services - (3 Months) </p> <br/>
                <b> Furniture Movement Employee </b> <br/>
                General Laborer, Christopher’s Furniture.
                I Worked in <b>Team A</b> and gained great social & team-building skills. I was a Strong energizer of the
                group, kept my team focused, and consistently determined. Primary duties were carrying furniture up
                and down a skyscraper using team coordination. Additionally, unloading a large trailer each day
                which would be assembled the following morning.
            </div>
        </div>
    </div>

    <div class="rowC-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageD"></div>
            <div class="row-description">
                <p class="header-field"> Hemingway's Seafood Restaurant - (1+ Year) </p> <br/>
                <b> Waiter and Kitchen Porter </b> <br/>
                Worked with my Employer & Colleagues in a team environment to fulfill
                the desires of customers.
                Took customer orders, Served food, served customers needs & wants.
                Responsibility to maintain the restaurant in absence of the manager or supervisor.
                looked after the bills and wine selection for customers.
            </div>
        </div>
    </div>

    <div class="rowD-image-description content-row">
        <div class="work-item-wrapper">
            <div class="row-image content-imageE"></div>
            <div class="row-description">
                <p class="header-field"> Spar Retail Store - (1+ Year) </p> <br/>
                <b> Spare Retail Store Clerk </b> <br/>
                  Helping customers throughout the store with their various needs and wants relating to shop items.
                  Responsibility to maintain the store & tills. Kept the store clean and stocked throughout a particular shift
                   and helped other staff when I had spare time.
                  Focus was customer satisfaction & team-interaction.
            </div>
        </div>
    </div>

</div>
