<div id="navigation-wrapper">
    <div class="navigation-menu">
        <ul class="navigation-items">
            <li class="navigation-item"><a href="#navigation-wrapper"> Home </a></li>
            <li class="navigation-item"><a href="#about-me-wrapper"> About </a></li>
            <li class="navigation-item"><a href="#links-wrapper"> Projects </a></li>
            <li class="navigation-item"><a href="#footer-links-wrapper"> Contact </a></li>
        </ul>
        <!-- Hidden until window is smaller than 600 pixels -->
        <li class="navigation-item menu-item"><a href="#"> Profile </a></li>
    </div>
</div>
