<div id="footer-links-wrapper">
    <!-- Sign off -->
    <p class="sub-title">My Name is <b><i>Shane</i></b> </p>
    <p class="sub-title"> I'm a  <b><i>Software Engineer</i></b> </p>
    <p class="sub-title"> And I  <b><i>Love</i></b> Technology </p>

    <div class="links-container">
        <a href="mailto:shane.creedon3@mail.dcu.ie?subject=?">
            <div class="link gmail"></div>
        </a>
        <a href="https://www.linkedin.com/in/shane-creedon-49a142128/">
            <div class="link twitter"></div>
        </a>
        <a href="https://www.youtube.com/channel/UCP2hCkdDohDOsrHyeDGV5Xw">
            <div class="link steam"></div>
        </a>
    </div>
</div>