<div id="footer-links-wrapper">
    <!-- Sign off -->
    <p class="sub-title">My Name is <b><i><span>Shane</span></i></b> </p>
    <p class="sub-title"> I'm a  <b><i><span>Software Engineer</span></i></b> </p>
    <p class="sub-title"> And I  <b><i><span>Love</span></i></b> Technology </p>

    <div class="links-container">
        <a href="mailto:shane.creedon3@mail.dcu.ie?subject=?">
            <div class="link gmail"></div>
        </a>
        <a href="https://twitter.com/shane_creedon">
            <div class="link twitter"></div>
        </a>
        <a href="https://steamcommunity.com/profiles/76561198059760208/">
            <div class="link steam"></div>
        </a>
    </div>
</div>
