<div class="project-wrapper">
    <span class="sub-title"> My Project Portfolio </span>
    <div class="project-grid">
        <div class="project-grid-item projectA medium">
            <span class="carousel-title"> Animation Doodle </span>
        </div>
        <div class="project-grid-item projectB large">
            <span class="carousel-title"> Wave Motion </span>
        </div>
        <div class="project-grid-item projectC medium">
            <span class="carousel-title"> Blood Rain </span>
        </div>
        <div class="project-grid-item projectD small">
            <span class="carousel-title"> Twitter Bot </span>
        </div>
        <div class="project-grid-item projectE tall">
            <span class="carousel-title"> Game Search </span>
        </div>
        <div class="project-grid-item projectF wide">
            <span class="carousel-title"> Coffee Counter </span>
        </div>
    </div>
</div>