<div class="project-wrapper">
    <span class="sub-title"> My Project Portfolio </span>
    <div class="project-grid">
        <div class="project-grid-item projectA medium"></div>
        <div class="project-grid-item projectB large"></div>
        <div class="project-grid-item projectC medium"></div>
        <div class="project-grid-item projectD small"></div>
        <div class="project-grid-item projectE tall"></div>
        <div class="project-grid-item projectF wide"></div>
    </div>
</div>