.project-wrapper {
    text-align: center;
    margin-top: 2em;

    overflow-x: hidden;
    overflow-y: hidden;
}

.sub-title {
    font-family: "Roboto Condensed";
    font-size: 1.4em;
}

.project-grid {
    margin: 0 auto;
    padding: 2em 0 2em 0;

    width: 85%;
    height: 100%;
}

.project-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3%;
    height: 25em;
    width: 100%;

    -moz-box-shadow: 0 0 5px whitesmoke;
    -webkit-box-shadow: 0 0 5px whitesmoke;
    box-shadow: 0 0 5px whitesmoke;

}

/* the slides */
.slick-slide {
    margin-left:27px;
}

/* the parent */
.slick-list {
    margin-left:-27px;
}

.carousel-title {
    color: white;
    font-size: 1.4em;
    font-family: "Roboto Condensed", Arial, SansSerif;
    text-shadow: rgba(0,0,0,0.8) 0px 2px 5px;

}

.projectA {
    background: url("/src/assets/project-portfolio-images/animation-doodle.jpg") no-repeat;
    background-size: cover;
}

.projectB {
    background: url("/src/assets/project-portfolio-images/wave-motion.png") no-repeat;
    background-size: cover;
}

.projectC {
    background: url("/src/assets/project-portfolio-images/blood-rain.jpg") no-repeat;
    background-size: cover;
}

.projectD {
    background: url("/src/assets/project-portfolio-images/twitter-bot.png") no-repeat;
    background-size: cover;
}

.projectE {
    background: url("/src/assets/project-portfolio-images/wave-motion.png") no-repeat;
    background-size: cover;
}

.projectF {
    background: url("/src/assets/project-portfolio-images/wave-motion.png") no-repeat;
    background-size: cover;
}