<div class="about-introduction-section">
    <h4 class="about-sub-title"> About Me </h4>

    <div class="about-me about-sub-section">
        <img width=250 class="about-images" src="../../../assets/images/avatar.png"/>
        <span class="about-sub-section-paragraphs">
            <h6 class="about-sub-section-title-context"> My Hobbies </h6>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate.
        </span>
    </div>

    <div class="about-hobbies about-sub-section">
        <img width=250 class="about-images" src="../../../assets/images/gaming-icon.jpg"/>
        <span class="about-sub-section-paragraphs">
            <h6 class="about-sub-section-title-context"> My Hobbies </h6>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                enim ipsum possimus quidem reiciendis velit voluptate
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate.
        </span>
    </div>

    <div class="about-aspirations about-sub-section">
        <img width=250 class="about-images" src="../../../assets/images/computing-image-mobile-computer.png"/>
        <span class="about-sub-section-paragraphs">
            <h6 class="about-sub-section-title-context"> My Hobbies </h6>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur assumenda commodi dolores ea,
                enim ipsum possimus quidem reiciendis velit voluptate.
        </span>
    </div>
</div>