@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Dekko');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 60em;
    font-family: "Segoe UI", Tahoma, Georgia, Verdana, sans-serif;
}

@font-face {
    font-family: PoiretOne-Regular;
    src: url(assets/fonts/PoiretOne-Regular.ttf);
}