.image-content-protocol {
    position: relative;

    width: 100%;
    background-size: cover;
    background-color: #0249b1;
    animation: gradient 20s ease infinite;

    line-height: 2;
    padding: 2em;

    -moz-box-shadow: 0 0 15px #444;
    -webkit-box-shadow: 0 0 15px #444;
    box-shadow: 0 0 15px #444;
}

.image-description {
    display: grid;

    font-size: 2em;
    text-align: center;
    font-family: calibri, serif;

    color: white;
    -webkit-background-clip: text;
    text-shadow: rgba(0,0,0,0.8) 0 2px 5px;
}

.protocol {
    padding: 0.5em;
}

.protocol-title {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 0 0 0.5em 0;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* Responsive media queries */
/* When the screen is less than 820 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1020px) {
    .protocol { font-size: 0.75em;}
    .title { font-size: 0.75em;}
    .passions { font-size:  0.35em;}

}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .image-content-protocol {
        height: 50%;
    }

    .protocol { font-size: 0.6em;}
    .protocol-title { font-size: 0.8em;}
    .title { font-size: 0.5em;}
    .passions { font-size:  0.2em;}

}

/* When the screen is less than 400 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 400px) {
    .protocol {font-size: 0.5em;}
    .protocol-title { font-size: 0.7em;}
    .title { font-size: 0.35em;}
    .passions { font-size:  0.2em;}
}
