<div class="image-content-protocol">
    <div class="image-description">
        <h2 class="protocol-title"> My <span style="color: #06b6ff"> Values </span> For Life </h2>
        <p class="protocol protocol-a"> Look inwards to find where your <span style="color: #06b6ff"> <b>Happiness</b> </span> lies. </p>
        <p class="protocol protocol-c"> Pursue <span style="color: #06b6ff"> <b>Passions</b></span>, not paychecks. </p>
        <p class="protocol protocol-c"> Do not give up your <span style="color: #06b6ff"> <b>Values</b></span> in the face of fear. </p>
        <p class="protocol protocol-e"> <span style="color: #06b6ff"> <b>Modesty</b></span> is both alluring and powerful. </p>
    </div>

    <div class="area" >
        <ul class="circles">
            <!-- 10 objects -->
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >
</div>
