<div class="image-content-protocol">
    <div class="image-description">
        <h2 class="protocol-title"> My <span style="color: #06b6ff"> Protocol </span> For Life </h2>
        <p class="protocol protocol-a"> You will never be happy if you continue to <span style="color: #06b6ff"> <b>search</b> </span> for what happiness consists of </p>
        <p class="protocol protocol-b"> To be <span style="color: #06b6ff"> <b>wrong</b> </span> is but a healthy consequence of striving for originality. </p>
        <p class="protocol protocol-c"> Pursue your <span style="color: #06b6ff"> <b>Passion</b></span>, not your pay </p>
        <p class="protocol protocol-d"> Smile for the day that  <span style="color: #06b6ff"><b>exists</b></span> and not the one that could </p>
        <p class="protocol protocol-e"> Dive <span style="color: #06b6ff"> <b>deep</b></span> over staying shallow </p>
    </div>
</div>
