<div class="image-content">
    <div class="image-description">
        <h2 class="protocol-title"> My <span style="color: #E84C45"> Protocol </span> For Life </h2>
        <p class="protocol protocol-a"> You will never be happy if you continue to <span style="color: #E84C45"> search </span> for what happiness consists of </p>
        <p class="protocol protocol-b"> To be <span style="color: #E84C45"> wrong </span> is but a healthy consequence of striving for originality. </p>
        <p class="protocol protocol-c"> Pursue <span style="color: #E84C45"> Passions</span>, not Paychecks </p>
        <p class="protocol protocol-d"> Smile for the day that  <span style="color: #E84C45">exists</span> and not the one that could </p>
        <p class="protocol protocol-e"> A deep <span style="color: #E84C45"> dive </span> yields more fruits than that of a shallow swim </p>
    </div>
</div>