.projects {
    background-color: #ddd;
    margin: 0 auto;
}

.projects-sub-title {
    position: relative;
    text-align: center;
    top: 1em;
    padding: 1em;
    font-size: 2em;
    font-weight: bold;
    font-family: PoiretOne-Regular, "Microsoft JhengHei Light", Arial;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 30em);
    grid-gap: 3em;
    justify-content: center;
    background-color: #ddd;
    padding: 5em 10em 5em 10em;
}

.projects-half-ability {
    height: 50%;
}

.projects-half-ability img{
    width: 100%;
    max-height: 100%;
}

.project-bottom-half-text {
    text-align: left;
    padding: 0 1em;
}

.project-bottom-half-title {
    text-align: center;
    margin: 1em;
}

.projects-group {
    width: 80%;
    height: 25em;
    background-color: white;
    margin: 0 auto;

    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}