<div class="projects">

    <h4 class="projects-sub-title"> Some of my Projects </h4>

    <!-- First row of projects -->
    <!-- Project A -->
    <div class="projects-wrapper">
        <div class="projectA projects-group">
            <div class="projectA-top-half projects-half-ability">
                <img src="../../../assets/images/animation-doodle.jpg"/>
            </div>
            <div class="projectA-bottom-half projects-half-ability">
                <h4 class="project-bottom-half-title"> Animation Doodle </h4>
                <p class="project-bottom-half-text"> Project created as part of our Third-Year Project in DCU.
                    'Animation Doodle' is an application being developed by
                     James Collins & Shane Creedon in an effort to unite both
                     drawing and artistic design with animation inside a mobile application.
                </p>
            </div>
        </div>

        <!-- Project B -->
        <div class="projectB projects-group">
            <div class="projectA-top-half projects-half-ability">
                <img src="../../../assets/images/blood-rain.PNG"/>
            </div>
            <div class="projectA-bottom-half projects-half-ability">
                <h4 class="project-bottom-half-title"> Blood Rain </h4>
                <p class="project-bottom-half-text"> Project created as part of our Third-Year Project in DCU.
                    'Animation Doodle' is an application being developed by
                    James Collins & Shane Creedon in an effort to unite both
                    drawing and artistic design with animation inside a mobile application.
                </p>
            </div>
        </div>

        <!-- Project C -->
        <div class="projectC projects-group">
            <div class="projectA-top-half projects-half-ability">
                <img src="../../../assets/images/waves.jpg"/>
            </div>
            <div class="projectA-bottom-half projects-half-ability">
                <h4 class="project-bottom-half-title"> Wave Motion </h4>
                <p class="project-bottom-half-text"> Project created as part of our Third-Year Project in DCU.
                    'Animation Doodle' is an application being developed by
                    James Collins & Shane Creedon in an effort to unite both
                    drawing and artistic design with animation inside a mobile application.
                </p>
            </div>
        </div>

        <!-- Second row of projects -->
        <!-- Project D -->
        <div class="projectD projects-group">
            <div class="projectA-top-half projects-half-ability">
                <img src="../../../assets/images/twitter.jpg"/>
            </div>
            <div class="projectA-bottom-half projects-half-ability">
                <h4 class="project-bottom-half-title"> Twitter Bot </h4>
                <p class="project-bottom-half-text"> Project created as part of our Third-Year Project in DCU.
                    'Animation Doodle' is an application being developed by
                    James Collins & Shane Creedon in an effort to unite both
                    drawing and artistic design with animation inside a mobile application.
                </p>
            </div>
        </div>

        <!-- Project E -->
        <div class="projectE projects-group">
            <div class="projectA-top-half projects-half-ability">
                <img src="../../../assets/images/coffee.jpg"/>
            </div>
            <div class="projectA-bottom-half projects-half-ability">
                <h4 class="project-bottom-half-title"> Coffee Counter </h4>
                <p class="project-bottom-half-text"> Project created as part of our Third-Year Project in DCU.
                    'Animation Doodle' is an application being developed by
                    James Collins & Shane Creedon in an effort to unite both
                    drawing and artistic design with animation inside a mobile application.
                </p>
            </div>
        </div>

        <!-- Project F -->
        <div class="projectF projects-group">
            <div class="projectA-top-half projects-half-ability">
                <img src="../../../assets/images/wandererRPG.png"/>
            </div>
            <div class="projectA-bottom-half projects-half-ability">
                <h4 class="project-bottom-half-title"> Wanderer RPG </h4>
                <p class="project-bottom-half-text"> Project created as part of our Third-Year Project in DCU.
                    'Animation Doodle' is an application being developed by
                    James Collins & Shane Creedon in an effort to unite both
                    drawing and artistic design with animation inside a mobile application.
                </p>
            </div>
        </div>

        <!-- Move rows of projects can be added later easily following the pattern above -->

    </div>
</div>